* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* #68866e #fada5e */

/* -------------------------------------Navbar styling started------------------------------------------------ */
nav.navbar {
  /* background: rgba(255, 255, 255, 0); */
  display: flex;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif !important;
  margin: 10px;
  transition: top 0.3s ease-in-out; /* Smooth transition for hiding/showing */
}
a.navbar-brand {
  color: #ffffff;
}
ul {
  text-align: center;
}
li.nav-item {
  /* margin: 0px 10px 0px 10px; */
  padding: 5px;
  border-radius: 4px;
}
a.nav-link {
  color: #ffffffe7;
  font-weight: 300;
}

a.nav-link:hover {
  border-bottom: 2px solid white !important;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}
a.nav-link:active {
  border-bottom: 2px solid white !important;
  color: rgb(255, 255, 255);
}

.offcanvas-body {
  display: flex;
  justify-content: center;
}

.classoftogg {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar-toggler {
  align-items: center;
}

.navbarclosebtn:focus{
outline: none;
}

@media (max-width: 991px) {
  #offcanvasNavbar {
    font-size: 2rem;
  }
}
/* -------------------------------------Navbar styling Ended------------------------------------------------ */

/* ----------------------------------------About Me Section-------------------------------------------------- */

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5) url("../IMAGES/figmaimg.jpeg") !important;
  background-blend-mode: darken !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
}

div.aboutme {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 40px 40px 40px 40px;
}

a.cntctme {
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 18px 40px;
  margin: 20px 10px 0 0;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
a.cntctme:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

div.profileimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

img.prfimg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(118, 18, 18, 0.5); /* Adjust opacity as needed */
  backdrop-filter: blur(50px); /* Add blur effect */
}

h1.headlineh1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 00;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

/* ----------------------------------------About Me Section-------------------------------------------------- */

/* ----------------------------------------Skills Section-------------------------------------------------- */

#skills {
  /* background-color: #fada5e; */
  padding: 30px 40px 30px 40px;

}

.skillsh2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  text-align: center;

}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.skill {
  text-align: center;
  transition: transform 0.2s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.skill:hover {
  transform: translateY(-10px);
}

.skill-logo {
  width: 80px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.skill-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.skill:hover .skill-logo {
  filter: grayscale(0%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------------------------------Skills Section-------------------------------------------------- */
/* ----------------------------------------Projects Overview Section-------------------------------------------------- */

.overpjcont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap !important;
  gap: 10px;
}

.myoverpj {
  background-size: cover !important;
  background-position: center !important;
  width: 500px;
  height: 90vh;
  margin: 10px 0px;
  display: flex;
  justify-content: flex-end; /* Aligns content to the right side */
  align-items: center; /* Centers vertically */
  position: relative; /* Allows positioning of children elements */
  overflow: hidden; /* Hides overflow content */
  background-blend-mode: darken !important;
  padding: 40px;
}

.experiment {
  position: absolute;
  align-items: center;
  padding: 8px;
  background-color: #00000082;
  color: white;
  top: 50%;
  right: 0%;
  opacity: 0;

  width: 100%;
  height: 50%;
  z-index: 10;
  transform: translateY(100%);
  /* Add transition */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  cursor: pointer;
}
.mockup{
  overflow: hidden;
}
.mockup:hover .experiment {
  opacity: 1;
  transform: translateY(0);
  /* Apply animation */
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.rotate-270 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: rgb(0, 242, 255);
  font-weight: 100;
  white-space: nowrap;
  text-align: center;
  text-transform: capitalize;

}


  code {
    background-color: white; padding: 8px; 
    border-radius: 5px;
    margin: 5px;
  }
  
  code:hover{
    background-color: #fff;
  }


.expgitlogo{
  color: rgb(255, 255, 255); font-size: 2rem;
}

.expgitlogo:hover{
  color: #00ffff;
}

.h1overpj {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  color: rgb(0, 242, 255);
  white-space: nowrap;
  text-align: center;
}

.projectsoverbtn {
  text-decoration: none;
  padding: 18px 40px;
  border-radius: 18px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(64, 64, 162, 0.5) 50%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );

  border: none;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.projectsoverbtn:hover {
  transform: translateY(-10px);
}

/* ----------------------------------------Projects Overview Section-------------------------------------------------- */
/* ----------------------------------------Achievements  Section-------------------------------------------------- */

#achievements {
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  padding: 30px 40px 30px 40px !important;
  margin: 60px 0px;

}

.achievementsh1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-certificate {
  animation: rotate360 2s linear infinite;
}

.knowmorebtn {
  display: flex;
  justify-content: center;
}

.knowmore {
  border: none;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 10px 0 0 0;
  padding: 18px 40px;
  border-radius: 50px;
  border: white 2px solid;
  transition: 0.5s ease;
}

.knowmore:hover {
  background-color: rgba(255, 255, 255, 0.287) !important;
  transform: scale(1.1);
}

@media (max-width: 450px) {
  .knowmore {
    padding: 10px;
    font-size: 1rem;
  }
}

/* ----------------------------------------Achievements  Section-------------------------------------------------- */

/* ----------------------------------------Experience  Section-------------------------------------------------- */


.expsscont {
  text-align: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.experience {
  margin-bottom: 30px;
}
.experience h4 {
  margin-bottom: 10px;
  color: #00ffff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.experience p {
  margin-bottom: 5px;
  line-height: 1.6;
  color: white;
}
.experience p:last-child {
  margin-bottom: 0;
}

/* ----------------------------------------Experience  Section-------------------------------------------------- */

/* ----------------------------------------Achievements  PT-II  Section-------------------------------------------------- */

.bannerh1ach {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 4.3rem;
  text-align: center;
  font-weight: 400;
}

.bannerbg {
  background: rgba(0, 0, 0, 0.3) url("../IMAGES/figmaimg4.jpeg") !important;
  background-blend-mode: darken !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  height: 50vh !important;
}

.categoryh1 {
  font-family: "Montserrat", sans-serif;

  color: rgb(255, 255, 0);
  font-size: 4rem;
  font-weight: 400;
}

button.categorybtns {
  margin: 5px;
  padding: 9px 20px;
  background-color: rgba(255, 255, 255, 0.484);
}

button.categorybtns:hover {
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255) 2px solid;
}

button.categorybtns:active {
  background-color: rgb(255, 98, 0);
}

.certsec {
  /* background-color: #f6d03b; */
}

.certificate-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.certificate-item img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.certificate-item:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.certificate-item:hover .overlay {
  opacity: 1;
}

.overlay a {
  background-color: rgba(255, 255, 255, 0.374);
  text-decoration: none;
  border: none;
  color: #fff;
}

.overlay a:hover {
  color: black;
  background-color: peachpuff;
}

/* ----------------------------------------Achievements PT-II  Section-------------------------------------------------- */

/* ----------------------------------------Projects  Section-------------------------------------------------- */

.projectscontainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 30px;
  color: rgb(0, 0, 0);
}

.rectcont {
  height: 56vh;
  width: 40vh;
  /* border-radius: 42px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0px 11px 0px rgba(0, 0, 0, 0.759);
  margin: 10px;
}

.rectcont:hover .pjlinkcont {
  opacity: 1;
}

.projectsabout {
  /* border: 2px solid white; */
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.287);
  width: 30vw;
}

h2.featurette-heading {
  color: green;
}

.lead {
  color: white;
}

/* .pjlinkcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
} */

.projectimages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectimages img {
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.55);
}

/* GITHUB ICON ANIMATION */

.projectlink {
  position: absolute;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 251, 0);
  padding: 18px 40px;
  border-radius: 50px !important;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.198);
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.5s ease-in-out !important; /* Apply transition */
}

.projectlink:hover {
  background-color: rgb(255, 251, 0);

  color: rgb(0, 0, 0);
}

.projectlink:hover .githublogo {
  display: none;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

#githubicon {
  display: none;
  font-size: x-large;
  padding: 0px 41px;
  transition: opacity 0.5s ease-in-out; /* Smooth opacity transition */
}
.projectlink:hover #githubicon {
  display: block;
}

.projectimages:hover .projectlink {
  opacity: 1;
}
/* GITHUB ICON ANIMATION */


.tools {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* ----------------------------------------Projects  Section-------------------------------------------------- */

/* ----------------------------------------Resume  Section-------------------------------------------------- */

#resumebanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerbg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}

/* ----------------------------------------Resume  Section-------------------------------------------------- */

/* ----------------------------------------Contact Me  Section-------------------------------------------------- */

#contactme {
  /* background-image: linear-gradient(
    135deg,
    #68866e 0%,
    #fada5e 50%,
    #a0a0a0 100%
  ); */

  padding: 30px 40px 30px 40px;
}

.contactmeh1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 10px;
  font-size: 6rem;
  text-align: center;
  font-weight: 400;
  /* text-align: center;
  color: white;
  color: rgba(255, 255, 255, 0);
  font-size: 4rem;
  font-size: 900;
  -webkit-text-stroke: 2px white; */
}

div.formmaindiv {
  margin: auto;
  max-width: 800px;
}

.cform {
  padding: 40px 40px 40px 40px;
  background-color: rgba(137, 43, 226, 0.609);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

input.form-control,
textarea.form-control {
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.396);
}

label.form-label {
  color: #ffffff;
  font-size: 1.3rem;
}

input[type="text"]::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

input[type="email"]::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}
::placeholder {
  color: white !important;
}
.submitbtn {
  display: flex;
  justify-content: center;
}

button.submitnow {
  padding: 15px 30px;
  background-color: #ffffffe7;
  color: rgba(0, 0, 0, 0.609);
  border: 2px solid rgb(255, 255, 255);
}
button.submitnow:hover {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: none;
}

.alertmessage {
  color: red;
}
/* ----------------------------------------Contact Me  Section-------------------------------------------------- */

/* ----------------------------------------Footer  Section-------------------------------------------------- */

a.footer-links {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a.footer-links:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

/* ----------------------------------------Footer  Section-------------------------------------------------- */

/* ----------------------------------------Media Query  Section-------------------------------------------------- */

@media (max-width: 991px) {
  .classoftogg {
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 991px) {
  #about,
  #skills,
  #achievements,
  #experience,
  #resume,
  #contactme {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Media query for laptops */
@media (max-width: 1024px) {
  h1.headlineh1,
  h2.skillsh2,
  h1.achievementsh1,
  h1.bannerh1ach,
  h1.contactmeh1,
  h1.categoryh1 {
    font-size: 3rem;
  }
}

/* Media query for tablets */
@media (max-width: 768px) {
  h1.headlineh1,
  h2.skillsh2,
  h1.achievementsh1,
  h1.bannerh1ach,
  h1.contactmeh1,
  h1.categoryh1 {
    font-size: 2.5rem;
  }
}

/* Media query for larger smartphones */
@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem; /* Adjust font size for larger smartphones (1.5/4 of the base size) */
    /* Add other styles as needed */
  }

  /* Removing the Parallax Effect For Mobile Devices as It doesn't work properly */
  #about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) url("../IMAGES/figmaimg.jpeg") !important;
    background-blend-mode: darken !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  #achievements {
    /* background-image: url(../IMAGES/pexels-katrin-bolovtsova-7307623.jpg) !important; */
    background-size: cover !important;
    background-position: center !important;
    padding: 30px 40px 30px 40px !important;
    background-attachment: local !important;
  }

  #experience {
    padding: 30px 40px 30px 40px !important;
    /* background: rgba(0, 0, 0, -5)
      url("../IMAGES/pexels-francesco-ungaro-96381.jpg") !important; */
    background-blend-mode: darken !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .bannerbg {
    /* background: rgba(0, 0, 0, 0.3) url("../IMAGES/first-place-medal.jpg") !important; */
    background-blend-mode: darken !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

/* Media query for smaller smartphones */
@media (max-width: 360px) {
  h1 {
    font-size: 1rem; /* Adjust font size for smaller smartphones (1/4 of the base size) */
    /* Add other styles as needed */
  }
}

/* ----------------------------------------Media Query  Section-------------------------------------------------- */
