* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* #68866e #fada5e */

/* -------------------------------------Navbar styling started------------------------------------------------ */
nav.navbar {
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif !important;
}
a.navbar-brand {
  color: #ffffff;
}
ul {
  margin: 0 40px 0 0;
  text-align: center;
}
li.nav-item {
  margin: 0px 10px 0px 10px;
  padding: 5px;
  border-radius: 4px;
}
a.nav-link {
  color: #000000e7;
  font-weight: 300;
}

a.nav-link:hover {
  border-bottom: 2px solid white !important;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}

@media (max-width: 991px) {
  #offcanvasNavbar {
    font-size: 2rem;
  }
}
/* -------------------------------------Navbar styling Ended------------------------------------------------ */

/* ----------------------------------------About Me Section-------------------------------------------------- */

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5)
    url("../IMAGES/seahorse-arizona-lower-antelope-canyon.jpg") !important;
  background-blend-mode: darken !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
}

div.aboutme {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 40px 40px 40px 40px;
}

a.cntctme {
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 18px 40px;
  margin: 20px 10px 0 0;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
}
a.cntctme:hover {
  transition: 0.3s ease-in;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

div.profileimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

img.prfimg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(118, 18, 18, 0.5); /* Adjust opacity as needed */
  backdrop-filter: blur(50px); /* Add blur effect */
}

h1.headlineh1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 00;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

/* ----------------------------------------About Me Section-------------------------------------------------- */

/* ----------------------------------------Skills Section-------------------------------------------------- */

#skills {
  background-color: #fada5e;
  padding: 30px 40px 30px 40px;
  /*   margin: 0 41px;
 */ /*  border-right: solid black;
  border-left: solid black; */
}

.skillsh2 {
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.highlight {
  color: #68866e;
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.skill {
  text-align: center;
  transition: transform 0.2s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.skill:hover {
  transform: translateY(-10px);
}

.skill-logo {
  width: 80px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.skill-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.skill:hover .skill-logo {
  filter: grayscale(0%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------------------------------Skills Section-------------------------------------------------- */
/* ----------------------------------------Achievements  Section-------------------------------------------------- */

#achievements {
  /* background-color: #68866e; */
  background-image: url(../IMAGES/pexels-katrin-bolovtsova-7307623.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  padding: 30px 40px 30px 40px !important;
  /*   margin: 0 41px;
  border-right: solid black;
  border-left: solid black; */
}

.achievementsh1 {
  font-family: "Montserrat", sans-serif;

  color: white;
  color: rgba(255, 255, 255, 0);
  font-size: 4rem;
  font-size: 900;
  -webkit-text-stroke: 2px white;

  text-align: center;
  margin-bottom: 20px;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-certificate {
  animation: rotate360 2s linear infinite;
}

.knowmorebtn {
  display: flex;
  justify-content: center;
}

.knowmore {
  border: none;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 10px 0 0 0;
  padding: 18px 40px;
  border-radius: 50px;
  border: white 2px solid;
  transition: 0.5s ease;
}

.knowmore:hover {
  background-color: rgba(255, 255, 255, 0.287) !important;
  transform: scale(1.1);
}

@media (max-width: 450px) {
  .knowmore {
    padding: 10px;
    font-size: 1rem;
  }
}

/* ----------------------------------------Achievements  Section-------------------------------------------------- */

/* ----------------------------------------Experience  Section-------------------------------------------------- */

#experience {
  padding: 30px 40px 30px 40px !important;
  background: rgba(0, 0, 0, -5)
    url("../IMAGES/pexels-francesco-ungaro-96381.jpg") !important;
  background-blend-mode: darken !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.experience {
  background: rgba(248, 246, 95, 0.5); /* Adjust opacity as needed */
  backdrop-filter: blur(10px); /* Add blur effect */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #fada5e;
  transition: transform 0.3s ease;
}

.exp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience:hover {
  transform: scale(1.05);
}

.experience-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.experience-date {
  font-size: 16px;
  color: #ffffffc8;
}

.experience-description {
  font-size: 18px;
  color: #ffffff;
  margin-top: 15px;
}

/* ----------------------------------------Experience  Section-------------------------------------------------- */

/* ----------------------------------------Achievements  PT-II  Section-------------------------------------------------- */

#categoryhero {
  /* background-color: rgb(255, 89, 0); */
  background-color: #fdd537;
}

.bannerbg {
  background: rgba(0, 0, 0, 0.3) url("../IMAGES/first-place-medal.jpg") !important;
  background-blend-mode: darken !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
}

.categoryh1 {
  color: rgba(255, 255, 255, 0);
  font-size: 4rem;
  font-size: 900;
  -webkit-text-stroke: 2px rgb(255, 89, 0);
}

button.categorybtns {
  margin: 5px;
  padding: 9px 20px;
  background-color: rgba(255, 255, 255, 0.484);
}

button.categorybtns:hover {
  color: rgb(0, 0, 0);
  border: rgb(0, 0, 0) 2px solid;
}

button.categorybtns:active {
  background-color: rgb(255, 98, 0);
}

.certsec {
  background-color: #f6d03b;
}

.certificate-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.certificate-item img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.certificate-item:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.certificate-item:hover .overlay {
  opacity: 1;
}

.overlay a {
  background-color: rgba(255, 255, 255, 0.374);
  text-decoration: none;
  border: none;
  color: #fff;
}

.overlay a:hover {
  color: black;
  background-color: peachpuff;
}

/* ----------------------------------------Achievements PT-II  Section-------------------------------------------------- */


/* ----------------------------------------Projects  Section-------------------------------------------------- */


.projectscontainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 30px;
  color: rgb(0, 0, 0);
}

.rectcont {
  height: 56vh;
  width: 40vh;
  /* border-radius: 42px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0px 11px 0px rgba(0, 0, 0, 0.759);
  margin: 10px;
}

.rectcont:hover .pjlinkcont {
  opacity: 1;
}

.projectsabout{
  border: 2px solid white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 18px;
  background-color: white;
}


/* .pjlinkcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
} */

.projectimages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectimages img{
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.55);
}

/* GITHUB ICON ANIMATION */


.projectlink {
  position: absolute;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 251, 0);
  padding: 18px 40px;
  border-radius: 50px !important;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.198);
  font-weight: 700;
 opacity: 0; 
 transition: opacity 0.5s ease-in!important; /* Apply transition */
}

.projectlink:hover {
  background-color: rgb(255, 251, 0);
  
  color: rgb(0, 0, 0);
}

.projectlink:hover .githublogo {
  display: none;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

#githubicon {
  display: none;
  font-size: x-large;
  padding: 0px 41px;
  transition: opacity 0.5s ease; /* Smooth opacity transition */
}
.projectlink:hover #githubicon {
  display: block;

}

.projectimages:hover .projectlink{
opacity: 1;
}
/* GITHUB ICON ANIMATION */

code {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.tools {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* ----------------------------------------Projects  Section-------------------------------------------------- */

/* ----------------------------------------Resume  Section-------------------------------------------------- */

#resumebanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerbg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}

/* ----------------------------------------Resume  Section-------------------------------------------------- */

/* ----------------------------------------Contact Me  Section-------------------------------------------------- */

#contactme {
  background-image: linear-gradient(
    135deg,
    #68866e 0%,
    #fada5e 50%,
    #a0a0a0 100%
  );

  padding: 30px 40px 30px 40px;
}

.contactmeh1 {
  font-family: "Montserrat", sans-serif;

  color: white;
  text-align: center;
  padding: 10px;
  color: rgba(255, 255, 255, 0);
  font-size: 4rem;
  font-size: 900;
  -webkit-text-stroke: 2px white;
}

div.formmaindiv {
  margin: auto;
  max-width: 800px;
}

.cform {
  padding: 40px 40px 40px 40px;
  background-color: rgba(137, 43, 226, 0.609);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

input.form-control,
textarea.form-control {
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.396);
}

label.form-label {
  color: #ffffff;
  font-size: 1.3rem;
}

input[type="text"]::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

input[type="email"]::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}
::placeholder {
  color: white !important;
}
.submitbtn {
  display: flex;
  justify-content: center;
}

button.submitnow {
  padding: 15px 30px;
  background-color: #ffa407e7;
  color: rgba(0, 0, 0, 0.609);
}
button.submitnow:hover {
  border: 2px solid black;
  color: black;
  background-color: none;
}

.alertmessage {
  color: red;
}
/* ----------------------------------------Contact Me  Section-------------------------------------------------- */

/* ----------------------------------------Footer  Section-------------------------------------------------- */

a.footer-links {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a.footer-links:hover {
  color: white;
  text-decoration: underline;
}

/* ----------------------------------------Footer  Section-------------------------------------------------- */

/* ----------------------------------------Media Query  Section-------------------------------------------------- */

@media (max-width: 991px) {
  #about,
  #skills,
  #achievements,
  #experience,
  #resume,
  #contactme {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Media query for laptops */
@media (max-width: 1024px) {
  h1.headlineh1,
  h2.skillsh2,
  h1.achievementsh1,
  h1.contactmeh1,
  h1.categoryh1 {
    font-size: 3rem;
  }
}

/* Media query for tablets */
@media (max-width: 768px) {
  h1.headlineh1,
  h2.skillsh2,
  h1.achievementsh1,
  h1.contactmeh1,
  h1.categoryh1 {
    font-size: 2.5rem;
  }
}

/* Media query for larger smartphones */
@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem; /* Adjust font size for larger smartphones (1.5/4 of the base size) */
    /* Add other styles as needed */
  }

  /* Removing the Parallax Effect For Mobile Devices as It doesn't work properly */
  #about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5)
      url("../IMAGES/seahorse-arizona-lower-antelope-canyon.jpg") !important;
    background-blend-mode: darken !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  #achievements {
    background-image: url(../IMAGES/pexels-katrin-bolovtsova-7307623.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 30px 40px 30px 40px !important;
    background-attachment: local !important;
  }

  #experience {
    padding: 30px 40px 30px 40px !important;
    background: rgba(0, 0, 0, -5)
      url("../IMAGES/pexels-francesco-ungaro-96381.jpg") !important;
    background-blend-mode: darken !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .bannerbg {
    background: rgba(0, 0, 0, 0.3) url("../IMAGES/first-place-medal.jpg") !important;
    background-blend-mode: darken !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

/* Media query for smaller smartphones */
@media (max-width: 360px) {
  h1 {
    font-size: 1rem; /* Adjust font size for smaller smartphones (1/4 of the base size) */
    /* Add other styles as needed */
  }
}

/* ----------------------------------------Media Query  Section-------------------------------------------------- */
